{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:jest/all"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "globals": {
    "process": "readonly"
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [
        ".ts",
        ".tsx"
      ]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "@": "./src"
      }
    }
  },
  "rules": {
    "jest/no-hooks": 0,
    "jest/require-hook": 0
  },
  "env": {
    "jest/globals": true
  }
}
